.metadata
.metadata/
*.class
/testJava/
*.classpath
*.project
org.eclipse.wst.common.project.facet.core.xml
*.prefs
/bin/

C:\Temp\log\log.20190316
C:\Temp\log\log.20190316
C:\Temp\log\log.20190317
c:\Temp\Pos.obj
